body{
    font-family: 'Montserrat', sans-serif;
}


h1{
    font-weight: 900;
    font-size: 70px;
    margin-bottom: 30px;
    color: #015249;
    margin-top: 60px;
}

.imagem-ong__prizorgi{
    width: 90%;
}
.btn__prizorgi{
    background-color: #57BC90;
    color: black;
}