<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Doação</title>
</head>
<body>
  <h1>Ajude no Desastre de Mariana</h1>
  <form action="/pay" method="post">
    <input type="submit" value="R$10">
  </form>
</body>
</html>